footer {

    margin: 0 auto;
    width: 50%;
    font-size: 1.4rem;

    p {
        color:@green;
    }

    p a {
        color: @green;
        text-decoration: none;
       
    }


    .social-media {
        display: flex;
        justify-content: space-evenly;
        font-size: 3rem;
        align-items: center;
    }

}