html {

    font-size: 67.5%;

    body {
        display: flex;
        font-family: 'Montserrat';
        font-size: 1.5rem;
        width: 80%;
        margin: 0 auto;
        color: @darkblue;
        flex-direction: column;
        background-color: @white;

        @media @mobile {
            margin-right: 10%;
        }

        h1 {

            .headerstyling(flex, 2.6rem, bold, center);

        }

        p {
            padding: 3%;
            text-align: center;
        }

    }
    
    .meet-the-team {
        border: 1px solid @lightblue;
        padding: 2%;
        margin-bottom: 5%;

        @media @mobile {
            width: 80%;
            margin-left: 3%;
        }
    }

    .team-intros {

        h3 {
            .headerstyling(flex, 2.6rem, bold, center);
            margin: 3% 0%;

            @media @mobile {
                font-size: 2rem;
                margin-right: 10%;
                padding-bottom: 3%;
            }
        }

        .member {
            flex-direction: column;
            width: 50%;
            justify-content: space-between;


        }


    }

    .ui-designers {
        display: flex;
        flex-direction: row;
        margin-bottom: 7%;

        @media @mobile {
            flex-direction: column;
        }

        img {
            width: 250px;
            height: 250px;
            justify-content: center;
            border-radius: 10%;
            margin-left: 18%;
            padding-top: 2%;
            box-shadow: 10px 10px 5px grey;

            @media @mobile {
                margin-left: 28%;
            }
        }

        p {
            margin-left: 5%;
            font-size: 1.8rem;

            @media @mobile {
                width: 100%;
                margin-left: 37%;
                padding-top: 10%;
            }
        }

        i {
            margin-left: 50%;
            font-size: 2.6rem;
            color: @darkblue;

            @media @mobile {
                margin-left: 85%;
                padding-bottom: 10%;
            }
        }
    }


    .react1-designers {
        display: flex;
        flex-direction: row;
        margin-bottom: 7%;

        @media @mobile {
            flex-direction: column;
        }


        img {
            .reactdevelopers(250px, 250px, 10%, 27%, 2%, 10px 10px 5px grey);
            

        }
        
        p {
            font-size: 1.8rem;

            @media @mobile {
                width: 100%;
                margin-left: 37%;
                padding-top: 10%;
            }
        }

        i {
            margin-left: 48%;
            font-size: 2.6rem;
            color: @darkblue;

            @media @mobile {
                margin-left: 85%;
                padding-bottom: 10%;
            }
        }

    }


    .react2-designers {
        display: flex;
        flex-direction: row;
        margin-bottom: 10%;

        @media @mobile {
            flex-direction: column;
        }

        img {
            .reactdevelopers(250px, 250px, 10%, 27%, 2%, 10px 10px 5px grey);
        }

        p {
            font-size: 1.8rem;

            @media @mobile {
                width: 100%;
                margin-left: 37%;
                padding-top: 10%;
            }
        }
        
        i{
            margin-left: 48%;
            font-size: 2.6rem;
            color: @darkblue;

            @media @mobile {
                margin-left: 85%;
                padding-bottom: 10%;
            }
        }
    }
}